@font-face {
    font-family: "RuiYan"; //字体名字
    src: url("/nft-web/font/rui.ttf"); //引入字体位置
}

body {
    background-color: #1A161D;
}

.flex-center {
    @apply flex justify-center items-center;
}

.tiger {
    background: url('/nft-web/images/bg_m.jpg') no-repeat center / cover;

    @screen md {
        background-image: url('/nft-web/images/bg.jpg');
    }

    header {
        color: white;

        @screen md {
            @apply border-b border-b-white;
        }


        img {
            fill: white;
        }

        .navigator>div {
            border: 1px solid white;

            a {
                display: inline-block;
            }
        }

        .navigator>div:hover {
            background-color: rgba(255, 255, 255, 0.26);
        }
    }
}

.tiger-common {
    header {
        @apply bg-white;
    }

    main {
        @apply text-white;
    }

    background: url(/nft-web/images/intro/wave.svg) no-repeat right center / contain fixed,
    linear-gradient(to top right,
        rgba(0, 138, 175, 1) 0%,
        rgba(147, 18, 68, 1) 43.744%,
        rgba(150, 0, 46, 1) 52.728%,
        rgba(25, 0, 99, 1) 100%);

}

.dialog {
    @apply pt-10 pb-10 pl-9 pr-9 border border-white;

    ol li {
        @apply border border-white rounded p-3;

        &~li {
            @apply mt-4;
        }
    }

    @screen lg {
        @apply w-[28rem];
    }

    @screen 2xl {
        @apply w-[34rem];
    }

}