@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/noto-sans/300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/noto-sans/regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/noto-sans/700.woff2') format('woff2');
}

html,
body,
#__next,
#__next>div {
    @apply h-full;
}

body {
    font-family: "Noto Sans", system-ui, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    // @apply bg-[url('/images/universe.gif')];
    @apply bg-black;
}

.flex-center {
    @apply flex justify-center items-center;
}

.tiger {

    // background: url('/images/bg_m.jpg') no-repeat center / cover;
    main {
        @apply pt-14;

        @screen lg {
            @apply pt-0;
        }

        h1 {
            @apply text-2xl my-4;

            @screen lg {
                @apply text-5xl;
            }
        }

        h2 {
            @apply text-xl my-4 text-[#D7C19A];

            @screen lg {
                @apply text-2xl;
            }
        }

        p {
            @apply px-4 py-6;

            @screen lg {
                @apply w-[1024px] mx-auto px-40 font-light;
            }
        }
    }

    .team-wiper {
        @apply pb-9;
    }

    @screen lg {
        // @apply bg-[#15141a];
        // background-image: url('/images/bg.jpg');
    }

    header {
        color: white;

        @screen lg {
            // @apply border-b border-b-white;
        }


        img {
            fill: white;
        }

        .navigator>div {
            border: 1px solid white;

            a {
                display: inline-block;
            }
        }

        .navigator>div:hover {
            background-color: rgba(255, 255, 255, 0.26);
        }
    }
}

.tiger-common {
    header {
        @apply bg-white;
    }

    main {
        @apply text-white;
    }

    background: url(/images/intro/wave.svg) no-repeat right center / contain fixed,
    linear-gradient(to top right,
        rgba(0, 138, 175, 1) 0%,
        rgba(147, 18, 68, 1) 43.744%,
        rgba(150, 0, 46, 1) 52.728%,
        rgba(25, 0, 99, 1) 100%);

}

.dialog-wrap {
    @apply flex justify-center items-center px-6 h-full;

}

.dialog {
    @apply p-4 border border-white;

    ol li {
        @apply border border-white rounded p-3;

        &~li {
            @apply mt-4;
        }
    }

    @screen lg {
        @apply p-10 w-[28rem];
    }

    @screen 2xl {
        @apply w-[34rem];
    }

}