@font-face {
    font-family: "RuiYan"; //字体名字
    src: url("/font/rui.ttf"); //引入字体位置
}

.rui-font {
    font-family: "RuiYan";
}

body {
    background-color: #1A161D;
}

.bg-e5e5e5 {
    background-color: #e5e5e5;
}

.bg-b5b5b5 {
    background-color: #b5b5b5;
}

.tiger {
    background: url('/nft-web/images/bg.jpg') no-repeat 0 100% / cover;

    header {
        color: white;
        border-bottom: 2px solid white;

        img {
            fill: white;
        }

        .navigator>div {
            border: 1px solid rgb(255, 255, 255);

            a {
                display: inline-block;
            }
        }

        .navigator>div:hover {
            background-color: rgba(255, 255, 255, 0.26);
        }

        .navigator>div+div {
            margin-left: 15px;
        }
    }
}

.tiger-common {
    header {
        background-color: white;

        .navigator>div:hover {
            background-color: #b5b5b5;
        }

        .navigator>div+div {
            margin-left: 15px;
        }
    }

    main {
        color: white;
    }

}